body .hll { background-color: #333333 }
body  { background: #111111; color: #ffffff }
body .c { color: #008800; font-style: italic; background-color: #0f140f } /* Comment */
body .err { color: #ffffff } /* Error */
body .esc { color: #ffffff } /* Escape */
body .g { color: #ffffff } /* Generic */
body .k { color: #fb660a; font-weight: bold } /* Keyword */
body .l { color: #ffffff } /* Literal */
body .n { color: #ffffff } /* Name */
body .o { color: #ffffff } /* Operator */
body .x { color: #ffffff } /* Other */
body .p { color: #ffffff } /* Punctuation */
body .cm { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Multiline */
body .cp { color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f } /* Comment.Preproc */
body .c1 { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Single */
body .cs { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Special */
body .gd { color: #ffffff } /* Generic.Deleted */
body .ge { color: #ffffff } /* Generic.Emph */
body .gr { color: #ffffff } /* Generic.Error */
body .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
body .gi { color: #ffffff } /* Generic.Inserted */
body .go { color: #444444; background-color: #222222 } /* Generic.Output */
body .gp { color: #ffffff } /* Generic.Prompt */
body .gs { color: #ffffff } /* Generic.Strong */
body .gu { color: #ffffff; font-weight: bold } /* Generic.Subheading */
body .gt { color: #ffffff } /* Generic.Traceback */
body .kc { color: #fb660a; font-weight: bold } /* Keyword.Constant */
body .kd { color: #fb660a; font-weight: bold } /* Keyword.Declaration */
body .kn { color: #fb660a; font-weight: bold } /* Keyword.Namespace */
body .kp { color: #fb660a } /* Keyword.Pseudo */
body .kr { color: #fb660a; font-weight: bold } /* Keyword.Reserved */
body .kt { color: #cdcaa9; font-weight: bold } /* Keyword.Type */
body .ld { color: #ffffff } /* Literal.Date */
body .m { color: #0086f7; font-weight: bold } /* Literal.Number */
body .s { color: #0086d2 } /* Literal.String */
body .na { color: #ff0086; font-weight: bold } /* Name.Attribute */
body .nb { color: #ffffff } /* Name.Builtin */
body .nc { color: #ffffff } /* Name.Class */
body .no { color: #0086d2 } /* Name.Constant */
body .nd { color: #ffffff } /* Name.Decorator */
body .ni { color: #ffffff } /* Name.Entity */
body .ne { color: #ffffff } /* Name.Exception */
body .nf { color: #ff0086; font-weight: bold } /* Name.Function */
body .nl { color: #ffffff } /* Name.Label */
body .nn { color: #ffffff } /* Name.Namespace */
body .nx { color: #ffffff } /* Name.Other */
body .py { color: #ffffff } /* Name.Property */
body .nt { color: #fb660a; font-weight: bold } /* Name.Tag */
body .nv { color: #fb660a } /* Name.Variable */
body .ow { color: #ffffff } /* Operator.Word */
body .w { color: #888888 } /* Text.Whitespace */
body .mb { color: #0086f7; font-weight: bold } /* Literal.Number.Bin */
body .mf { color: #0086f7; font-weight: bold } /* Literal.Number.Float */
body .mh { color: #0086f7; font-weight: bold } /* Literal.Number.Hex */
body .mi { color: #0086f7; font-weight: bold } /* Literal.Number.Integer */
body .mo { color: #0086f7; font-weight: bold } /* Literal.Number.Oct */
body .sb { color: #0086d2 } /* Literal.String.Backtick */
body .sc { color: #0086d2 } /* Literal.String.Char */
body .sd { color: #0086d2 } /* Literal.String.Doc */
body .s2 { color: #0086d2 } /* Literal.String.Double */
body .se { color: #0086d2 } /* Literal.String.Escape */
body .sh { color: #0086d2 } /* Literal.String.Heredoc */
body .si { color: #0086d2 } /* Literal.String.Interpol */
body .sx { color: #0086d2 } /* Literal.String.Other */
body .sr { color: #0086d2 } /* Literal.String.Regex */
body .s1 { color: #0086d2 } /* Literal.String.Single */
body .ss { color: #0086d2 } /* Literal.String.Symbol */
body .bp { color: #ffffff } /* Name.Builtin.Pseudo */
body .vc { color: #fb660a } /* Name.Variable.Class */
body .vg { color: #fb660a } /* Name.Variable.Global */
body .vi { color: #fb660a } /* Name.Variable.Instance */
body .il { color: #0086f7; font-weight: bold } /* Literal.Number.Integer.Long */