body .hll { background-color: #49483e }
body  { background: #272822; color: #f8f8f2 }
body .c { color: #75715e } /* Comment */
body .err { color: #960050; background-color: #1e0010 } /* Error */
body .k { color: #66d9ef } /* Keyword */
body .l { color: #ae81ff } /* Literal */
body .n { color: #f8f8f2 } /* Name */
body .o { color: #f92672 } /* Operator */
body .p { color: #f8f8f2 } /* Punctuation */
body .cm { color: #75715e } /* Comment.Multiline */
body .cp { color: #75715e } /* Comment.Preproc */
body .c1 { color: #75715e } /* Comment.Single */
body .cs { color: #75715e } /* Comment.Special */
body .gd { color: #f92672 } /* Generic.Deleted */
body .ge { font-style: italic } /* Generic.Emph */
body .gi { color: #a6e22e } /* Generic.Inserted */
body .gs { font-weight: bold } /* Generic.Strong */
body .gu { color: #75715e } /* Generic.Subheading */
body .kc { color: #66d9ef } /* Keyword.Constant */
body .kd { color: #66d9ef } /* Keyword.Declaration */
body .kn { color: #f92672 } /* Keyword.Namespace */
body .kp { color: #66d9ef } /* Keyword.Pseudo */
body .kr { color: #66d9ef } /* Keyword.Reserved */
body .kt { color: #66d9ef } /* Keyword.Type */
body .ld { color: #e6db74 } /* Literal.Date */
body .m { color: #ae81ff } /* Literal.Number */
body .s { color: #e6db74 } /* Literal.String */
body .na { color: #a6e22e } /* Name.Attribute */
body .nb { color: #f8f8f2 } /* Name.Builtin */
body .nc { color: #a6e22e } /* Name.Class */
body .no { color: #66d9ef } /* Name.Constant */
body .nd { color: #a6e22e } /* Name.Decorator */
body .ni { color: #f8f8f2 } /* Name.Entity */
body .ne { color: #a6e22e } /* Name.Exception */
body .nf { color: #a6e22e } /* Name.Function */
body .nl { color: #f8f8f2 } /* Name.Label */
body .nn { color: #f8f8f2 } /* Name.Namespace */
body .nx { color: #a6e22e } /* Name.Other */
body .py { color: #f8f8f2 } /* Name.Property */
body .nt { color: #f92672 } /* Name.Tag */
body .nv { color: #f8f8f2 } /* Name.Variable */
body .ow { color: #f92672 } /* Operator.Word */
body .w { color: #f8f8f2 } /* Text.Whitespace */
body .mb { color: #ae81ff } /* Literal.Number.Bin */
body .mf { color: #ae81ff } /* Literal.Number.Float */
body .mh { color: #ae81ff } /* Literal.Number.Hex */
body .mi { color: #ae81ff } /* Literal.Number.Integer */
body .mo { color: #ae81ff } /* Literal.Number.Oct */
body .sb { color: #e6db74 } /* Literal.String.Backtick */
body .sc { color: #e6db74 } /* Literal.String.Char */
body .sd { color: #e6db74 } /* Literal.String.Doc */
body .s2 { color: #e6db74 } /* Literal.String.Double */
body .se { color: #ae81ff } /* Literal.String.Escape */
body .sh { color: #e6db74 } /* Literal.String.Heredoc */
body .si { color: #e6db74 } /* Literal.String.Interpol */
body .sx { color: #e6db74 } /* Literal.String.Other */
body .sr { color: #e6db74 } /* Literal.String.Regex */
body .s1 { color: #e6db74 } /* Literal.String.Single */
body .ss { color: #e6db74 } /* Literal.String.Symbol */
body .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
body .vc { color: #f8f8f2 } /* Name.Variable.Class */
body .vg { color: #f8f8f2 } /* Name.Variable.Global */
body .vi { color: #f8f8f2 } /* Name.Variable.Instance */
body .il { color: #ae81ff } /* Literal.Number.Integer.Long */

/* Override the surrounding theme to match a dark theme*/

#topbar {
	 background: #272822; 
	 color: #f8f8f2
}
td.linenos {
  background: #272822;
  padding: 0 5px 0 5px;
  border-right: 1px solid #272822;
  border-left: 1px solid #272822;
  border-top: 1px solid #272822;
}

div.codebox table {
  border-right: 0px solid #272822;
  border-left: 0px solid #272822;
  border-top: 0px solid #272822;
  border-bottom: 0px solid #272822;
}

/* 
These styles are used to highlight each diff line.
Note: for partial like highlight change to "display:block-inline" 
*/
span.left_diff_change {
  background-color: #FFCF74;
  display: block
}
span.left_diff_add {
  background-color: #B1B1B1;
  display: block
}
span.left_diff_del {
  background-color: #FF6B6B;
  display: block
}
span.lineno_q {
  display: block;
}
span.right_diff_change {
  background-color: #FFCF74;
  display: block
}
span.right_diff_add {
  background-color: #83FF83;
  display: block
}
span.right_diff_del {
  background-color: #B1B1B1;
  display: block
}
span.clearbg {
  background-color: transparent;
}